<!doctype html>
<html ng-app="Demo">

<head>
  <title>Watcher Badges</title>
  <!-- <link rel="stylesheet" href="lib/paper.min.css" /> -->
  <!-- <script src="lib/angular.min.js"></script> -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/paper/bootstrap.min.css" />
  <link rel="stylesheet" href="demo.css" />
  <script src="http://code.jquery.com/jquery-2.1.1.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
  <script src="http://imagesloaded.desandro.com/imagesloaded.pkgd.js"></script>
  <script src="http://masonry.desandro.com/masonry.pkgd.js"></script>
  <script src="http://passy.github.io/angular-masonry/angular-masonry.js"></script>
  <script src="watcher_badges.js"></script>
  <script src="demo.js"></script>
</head>

<body watcher-badges ng-controller="DemoController as ctrl">
  <div id="sidebar">
    <header>
      <p class="lead">Watcher Badges</p>
      <p>
        <button class="btn btn-xs btn-info" ng-click="ctrl.countWatches()">Count watchers</button>
        <button class="btn btn-xs btn-danger" ng-click="ctrl.clearWatches()">Clear</button>
      </p>
    </header>

    <form ng-submit="ctrl.search()">
      <fieldset>
        <legend>Enter an artist name</legend>
        <div class="form-group">
          <input type="text" ng-model="ctrl.query" class="form-control" />
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-primary" value="Search" />
        </div>
      </fieldset>
    </form>
  </div>

  <main id="main">
    <div class="row">

      <!-- Artist thumbnail images -->
      <div class="col-md-6">
        <div masonry class="row">
          <div class="masonry-brick col-md-4" ng-repeat="artist in ctrl.artists">
            <div class="thumbnail" ng-click="ctrl.selectArtist(artist)">
              <div class="image" style="background-image: url({{artist.imageUrl}})" title="{{artist.name}}"></div>
              <div class="name" ng-bind="artist.name"></div>
            </div>
          </div>
        </div>
      </div>

      <!-- Artist biography -->
      <div class="col-md-6" ng-if="ctrl.currentArtist">
        <h1><a href="{{ctrl.currentArtist.artistUrl}}" ng-bind="ctrl.currentArtist.name"></a></h1>
        <p class="biography" ng-bind="ctrl.currentArtist.biography.text"></p>
        <p><small><a href="{{ctrl.currentArtist.biography.readMoreLink}}" target="_blank">read more</a></small></p>
      </div>

    </div>
  </main>
</body>

</html>
