<!doctype html>
<html ng-app="Demo">

<head>
  <title>Watcher Badges</title>
  <!-- <link rel="stylesheet" href="lib/paper.min.css" /> -->
  <!-- <script src="lib/angular.min.js"></script> -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/paper/bootstrap.min.css" />
  <link rel="stylesheet" href="demo.css" />
  <script src="http://code.jquery.com/jquery-2.1.1.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
  <script src="http://imagesloaded.desandro.com/imagesloaded.pkgd.js"></script>
  <script src="http://masonry.desandro.com/masonry.pkgd.js"></script>
  <script src="http://passy.github.io/angular-masonry/angular-masonry.js"></script>
  <script src="watcher_badges.js"></script>
  <script src="demo.js"></script>
</head>

<body watcher-badges ng-controller="DemoController as ctrl">
  <main class="container">
    <header class="page-header">
      <h1>Watcher Badges</h1>
      <p class="lead">
        Click <button class="btn btn-sm btn-info" ng-click="ctrl.countWatches()">here</button> to start, or
        <button class="btn btn-sm btn-danger" ng-click="ctrl.clearWatches()">here</button> to clear.
      </p>
    </header>

    <form ng-submit="ctrl.search()">
      <fieldset>
        <legend>Enter an artist name</legend>
        <div class="form-group">
          <input type="text" ng-model="ctrl.query" class="form-control" />
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-primary" value="Search" />
        </div>
      </fieldset>
    </form>

    <div masonry class="row">
      <div class="masonry-brick col-md-3" ng-repeat="artist in ctrl.artists">
        <div class="thumbnail">
          <div class="image" style="background-image: url({{artist.imageUrl}})" title="{{artist.name}}"></div>
          <div class="caption">
            <h3><a href="{{artist.artistUrl}}" ng-bind="artist.name"></a></h3>
            <p class="biography" ng-bind="artist.biography.text"></p>
            <p><small><a href="{{artist.biography.readMoreLink}}" target="_blank">read more</a></small></p>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>

</html>
