<!doctype html>
<html ng-app="Demo">

<head>
  <title>Watcher Badges</title>
  <!-- <link rel="stylesheet" href="lib/paper.min.css" /> -->
  <!-- <script src="lib/angular.min.js"></script> -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/paper/bootstrap.min.css" />
  <link rel="stylesheet" href="demo.css" />
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
  <script src="watcher_badges.js"></script>
  <script src="demo.js"></script>
</head>

<body watcher-badges ng-controller="DemoController as ctrl">
  <main class="container">
    <header class="page-header">
      <h1>Watcher Badges</h1>
      <p class="lead">
        Click <button class="btn btn-sm btn-info" ng-click="ctrl.countWatches()">here</button> to start, or
        <button class="btn btn-sm btn-danger" ng-click="ctrl.clearWatches()">here</button> to clear.
      </p>
    </header>

    <form ng-submit="ctrl.create()">
      <fieldset>
        <legend>Enter a TODO item</legend>
        <div class="form-group">
          <input type="text" ng-model="ctrl.description" class="form-control" />
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-primary" value="Create" />
        </div>
      </fieldset>
    </form>

    <p><button class="btn btn-primary" ng-click="ctrl.createMany()">Or just create 100 items</button></p>

    <div class="row">
      <div class="col-md-6">
        <h3>TODO</h3>

        <ul class="list-group">
          <li class="list-group-item" ng-repeat="todo in ctrl.todos | filter:{finished:false}">
            <a ng-click="todo.toggle()">{{$index + 1}}: {{todo.description}}</a>
          </li>
        </ul>
      </div>

      <div class="col-md-6">
        <h3>Completed</h3>

        <ul class="list-group">
          <li class="list-group-item" ng-repeat="todo in ctrl.todos | filter:{finished:true}">
            <a ng-click="todo.toggle()">{{$index + 1}}: {{todo.description}}</a>
          </li>
        </ul>
      </div>
    </div>
  </main>
</body>

</html>
